@media only screen and (min-width: 761px) {
  .id {
    width: 5% !important;
  }
  .userName {
    width: 14% !important;
  }
  .date {
    width: 14%;
  }
  .field {
    width: 14%;
  }
  .old-value {
    width: 14%;
  }
  .new-value {
    width: 14%;
  }

  .advertName {
    width: 20%;
  }
  .favorite {
    width: 5%;
  }
}
